# Backend
backBlog/.phpunit.cache
backBlog/node_modules
backBlog/public/build
backBlog/public/hot
backBlog/public/storage
backBlog/storage/*.key
backBlog/storage/pail
backBlog/vendor
backBlog/.env
backBlog/.env.backup
backBlog/.env.production
backBlog/.phpactor.json
backBlog/.phpunit.result.cache
backBlog/Homestead.json
backBlog/Homestead.yaml
backBlog/npm-debug.log
backBlog/yarn-error.log
backBlog/auth.json
backBlog/.fleet
backBlog/.idea
backBlog/.nova
backBlog/.vscode
backBlog/.zed
backBlog/.DS_Store
backBlog/*.log
backBlog/*.sqlite
backBlog/*.sqlite-journal
backBlog/*.cache
backBlog/*.lock
backBlog/composer.phar
backBlog/package-lock.json
backBlog/yarn.lock

# Frontend
frontBlog/node_modules
frontBlog/dist
frontBlog/dist-ssr
frontBlog/*.local
frontBlog/.vscode/*
!frontBlog/.vscode/extensions.json
frontBlog/.idea
frontBlog/.DS_Store
frontBlog/*.suo
frontBlog/*.ntvs*
frontBlog/*.njsproj
frontBlog/*.sln
frontBlog/*.sw?
frontBlog/.env
frontBlog/.env.*
!frontBlog/.env.example
frontBlog/.cache
frontBlog/*.cache
frontBlog/package-lock.json
frontBlog/yarn.lock
frontBlog/pnpm-lock.yaml

# Common Laravel exclusions
/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode 